body{
    background-color: #e9bcb7;
}
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
}
.mybar{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}
.mytextend{
    display: grid !important;
    justify-self: end;
}
.divider{
    height: 4px !important;
}